<!DOCTYPE html>
<html>

<head>
  <title>Hotspot Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="glass-panel">
    <div class="theme-selector">
      <label for="theme-select">Select Theme:</label>
      <select id="theme-select">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
    <h1>Hotspot Prediction</h1>
    <p>This page will display predicted garbage hotspots.</p>

    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
  </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>

</html>